<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="logFileDirectory" value="C:\Users\Nikeah\Desktop\" />
    <add key="logFileName" value="SecuritiesResearch.DataRetrieval-.txt" />

    <add key="dbHost" value="localhost"/>
    <add key="dbDatabase" value="SecuritiesResearch"/>
    <add key="dbUserName" value="secres_user"/>
    <add key="dbPassword" value="password"/>
  </appSettings>

</configuration>