<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="logFileDirectory" value="C:\Users\Nikeah\Desktop\" />
    <add key="logFileName" value="SecuritiesResearch.DataRetrieval-.txt" />

    <add key="dbHost" value="localhost"/>
    <add key="dbDatabase" value="SecuritiesResearch"/>
    <add key="dbUserName" value="secres_reader"/>
    <add key="dbPassword" value="password"/>

    <add key="useCommandLineArgs" value="true"/>
    
    <add key="simulationReportDirectory" value="C:\Users\Nikeah\Desktop\PortfolioReturns"/>
    <add key="transactionCommission" value="500"/>

    <add key="portfolioName" value="RebalancedUKFixedConstituents_Greater"/>
    <!--The below are no longer used-->
    <!--<add key="simulationStartDate" value="2012-01-01"/>
    <add key="simulationEndDate" value="2020-03-27"/>
    <add key="simulationType" value="rebalance"/>-->
    <!--<add key="portfolioName" value="BenchmarkUKFtse100"/>-->
    <!--<add key="stockPortfolio" value="MCRO.L,EVR.L,SSE.L,GSK.L,HL.L,EMG.L,BARC.L,ANTO.L,HSBA.L"/>-->
    <!--<add key="stockPortfolio" value="EVR.L,CNA.L,IMB.L,PSN.L,SSE.L,BT-A.L,BATS.L,AVV.L,SLA.L,HSBA.L"/>-->
    <!--<add key="stockPortfolio" value="EVR.L,CNA.L,IMB.L,PSN.L,SSE.L"/>-->
    <!--<add key="stockPortfolio" value="MCRO.L,EVR.L,SSE.L,GSK.L,HL.L"/>-->
    <!--<add key="stockPortfolio" value="^FTSE"/>-->

    <add key="accountName" value="RebalanceablePortfolio"/>
    <add key="accountBalance" value="2500000.0"/>
    <add key="accountCurrency" value="GBX"/>
  </appSettings>

</configuration>